@media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
    }
  
    .header .header-2 .flex .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    .header .header-2 .flex .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    .header .header-2 .flex .navbar a {
      display: block;
      font-size: 2.5rem;
      margin: 2rem;
    }
  
    .home .content h3 {
      font-size: 3.5rem;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  
    .heading h3 {
      font-size: 3.5rem;
    }
  
    .title {
      font-size: 3rem;
    }
  }